<nav class="grey darken-2">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">Bug Tracker</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger 
        show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/tickets/add">Create Ticket</a></li>
            <li><a href="/dashboard">My Tickets</a></li>
            <li><a href="/tickets">All Tickets</a></li>
            <li><a href="/engineering">Engineering</a></li>
            <li><a href="/product">Product</a></li>
            <li><a href="/marketing">Marketing</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
        <a href="#" class="notification right">
            <i class="fa-solid fa-bell"></i>
            <span class="dot">{{{dueDateAlert}}}</span>
        </a>
       
    </div>


</nav>

